body {
    max-width: 70%;
    margin: 0 auto;
    /* background-color: PapayaWhip; */
    /* background-color: Cornsilk; */
    background-color: lightgray;
}

div.h1-container {
    margin-top: 5em;
    margin-bottom: 3em;
}

div.horizontal-rule-gradient {
    height: 3px;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(240,240,240,1) 75%, rgba(240,240,240,1) 85%, rgba(0,0,0,0) 100%);
}

div.horizontal-rule {
    border-bottom: 3px solid black;
}

h1 {
    font-size: 3em;
    margin: 0 0 0.25em 0;
    padding: 0;
}

div.table-of-contents:before { content: "Table Of Contents"; }
div.table-of-contents {
    border: 2px solid black;
    background-color: #eee;
    max-width: 35%;
    margin: 0 1em 1em 1em;
    padding: 1em;
    vertical-align: top;
    float: right;
}

blockquote {
    padding: 1em;
    background-image: linear-gradient(to right, rgba(220,220,220,1), rgba(240,240,240,1) 40%, rgba(240,240,240,0) 100%);
}

div.rant-container {
    font-size: 0.75em;
    color: red;
}

span.aside:before { content: "[Side note: "; }
span.aside:after  { content: "]"; }
span.aside {
    font-size: 0.75em;
    color: gray;
    font-style: oblique;
}

/*
div#qs-origins:before { content: "Q.S. : "; }
div#qs-origins {
    margin-top: 10em;
    font-style: oblique;
    color: gray;
    font-size: 0.75em;
}

*/

div#qs-origins-container {
    border: 2px dotted black;
    position: relative;
    margin-top: 10em;
    padding: 2em;
}

div#qs-origins-container span.open-quote {
    font-size: 5em;
    margin: 0;
    padding: 0 0 0 0.125em;
    position: absolute;
    left: 0.25em;
    top: -0.55em;
    height: 0.75em;
    width: 0.75em;
    /* background-color: Cornsilk; */
    background-color: lightgray;
}

div#qs-origins-container span.close-quote {
    font-size: 5em;
    margin: 0;
    padding: 0 0 0 0.125em;
    position: absolute;
    right: 0.25em;
    bottom: -0.35em;
    width: 0.75em;
    height: 0.75em;
    /* background-color: Cornsilk; */
    background-color: lightgray;
}

div#qs-origins-container div#qs-origins {
    margin-top: 0;
    font-style: oblique;
    color: gray;
}

/*
.quote-box:before {
  content: "❝";
  background-color: rgba(0,0,0,0,0);
  padding: 0 0.25em;
  position: absolute;
  left: 1em;
  top: -.5em;
  font-size: 2em;
  z-index: -10;
}
.quote-box:after {
  content: "❞";
  background-color: rgba(0,0,0,0,0);
  padding: 0 0.25em;
  position: absolute;
  right: 1em;
  bottom: -0.85em;
  font-size: 2em;
  z-index: -10;
}
*/

div#footer {
    font-size: 0.75em;
}

div#footer p {
    text-align: right;
}
