body {
    color: black;
    background-color: lightgray;
}

div#header-container {
    text-align: center;
    margin-top: 0.5em;
}

div#body-container {
    width: 80%;
    margin: auto;
}

h2 {
    color: green;
    margin-top: 2em;
    padding-bottom: 0.2em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

div#timer-container {
  text-align: center;
  margin: 4em auto 4em auto;
}

div#hl3-vaporware-timer, div#noscript-target-date, div#rollover-time, div#rollover-date {
  font-size: 3em;
  font-weight: bold;
}

div#timer-explanation {
  font-size: 0.75em;
  color: gray;
}

table.time-table {
  border-collapse: collapse;
}

table.time-table td, table.time-table th {
  border-width: 1px;
  border-style: solid;
  padding: 0.5em;
}

.quote-box {
  padding: 0.5em;
  font-size: 1em;
  border: 1px dotted black;
  margin: 1em 0;
  position: relative;
  z-index: -5;
}
.quote-box:before {
  content: "❝";
  background-color: rgba(0,0,0,0,0);
  padding: 0 0.25em;
  position: absolute;
  left: 1em;
  top: -.5em;
  font-size: 2em;
  z-index: -10;
}
.quote-box:after {
  content: "❞";
  background-color: rgba(0,0,0,0,0);
  padding: 0 0.25em;
  position: absolute;
  right: 1em;
  bottom: -0.85em;
  font-size: 2em;
  z-index: -10;
}

.quote-box .content {
  position: relative;
  z-index: 1;
}

.quote-box .content blockquote {
  margin: 0;
  padding: 0;
}

code.code-block {
    display: block;
    white-space: pre;
    border-width: 1px;
    border-style: solid;
    padding: 1em;
}
